<div class="login-container">
  <mat-card class="login-box">
    <mat-card-header>
        
        <div class="header-container">
        <mat-card-title>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/640px-Google_2015_logo.svg.png" alt="Google Logo"> 
        <p>Login</p>
        <mat-card-subtitle>Use your Google Account</mat-card-subtitle>
        </mat-card-title>
        </div>
        
        
       
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="outline" class="form-class">
          <mat-label>Email or phone</mat-label>
          <input matInput placeholder="Email or phone*" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-class">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password*" required>
        </mat-form-field>
        <div class="forgot-password">
          <a href="#">Forgot password?</a>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="actions">
      <a href="#" class="create-account">Create account</a>
      <button mat-raised-button color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>